* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.gallery-wrap {
    width: 90%;
    margin: 0 auto;
}

.infinite-scroll-last {
    position: absolute;
    bottom: -150px;
    left: 50%;
    transform: translateX(-50%);
    margin: 50px;
    padding: 15px 30px;
    border: 1px solid grey;
}

.search-form input {
    display: block;
    margin: 25px auto;
}

.modal-content {
    margin: 0 auto;
    width: fit-content;
    background-color: ivory;
}

.modal-img {
    display: block;
    margin: 0 auto;
}

li {
    list-style: none;
}

.grid-sizer,
.grid-item {
    width: 32.3%;
    margin: 0.5%;
}

.grid-item img {
    display: block;
    max-width: 100%;
}

.grid-item img:hover {
    cursor: zoom-in;
}

.photo-card {
    width: fit-content;
    border: 2px solid burlywood;
}

.stats {
    display: flex;
    justify-content: space-around;
    background-color: burlywood;
}