* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.gallery-wrap {
    width: 90%;
    margin: 0 auto;
}

.search-form input {
    display: block;
    margin: 25px auto;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.gallery-item {
    list-style: none;
    width: 33%;
    margin-bottom: 10px;
}

.gallery-item img {
    display: block;
    width: 100%;
    height: auto;
}

.photo-card {
    width: fit-content;
    margin: 0 auto;
    border: 2px solid burlywood;
}

.stats {
    display: flex;
    justify-content: space-around;
    background-color: burlywood;
}

.off {
    display: none;
}

.on {
    display: block;
    margin: 0 auto 20px;
    text-transform: uppercase;
    padding: 10px 30px;
    background-color: khaki;
}

.on:hover {
    cursor: pointer;
    outline: 1px solid lightgreen;
}